.bmpxfx_tpcls{background-image: url(../images/items/bmpxfx.png)}
.bmpxtj_tpcls{background-image: url(../images/items/bmpxtj.png)}
.bmgl_tpcls{background-image: url(../images/items/bmgl.png)}
.pxlb_tpcls{background-image: url(../images/items/pxlb.png)}
.zjpxfx_tpcls{background-image: url(../images/items/zjpxfx.png)}
.zygl_tpcls{background-image: url(../images/items/zygl.png)}
.zjpxtj_tpcls{background-image: url(../images/items/zjpxtj.png)}
.pxxm_tpcls{background-image: url(../images/items/pxxm.png)}
.yhgl_tpcls{background-image: url(../images/items/yhgl.png)}
.zjgl_tpcls{background-image: url(../images/items/zjgl.png)}
.mkgl_tpcls{background-image: url(../images/items/mkgl.png)}
.jsgl_tpcls{background-image: url(../images/items/jsgl.png)}
.pxsj_tpcls{background-image: url(../images/items/pxsj.png)}